<% include partials/header%>


<div id="landing-header">
    <h1>Welcome to BestCats!</h1>
    <i class="fas fa-paw"></i>
    <a href="/cats" class="btn btn-lg btn-success">View All Cats</a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>