<% include ../partials/header%>
    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Best cats only here!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta esse, eveniet excepturi facere iste maxime nisi nobis odit quas qui quibusdam, quis quod quos soluta ullam velit. Fugit, necessitatibus.</p>
                <p><a class="btn btn-primary btn-large" href="/cats/new">Add new cat</a></p>
            </div>
        </header>

        <div class="row text-center">
            <% cats.map((el)=>{ %>
            <div class="col-md-6 col-sm-12 mb-4">
                <div class="img-thumbnail">
                    <div class="caption">
                        <h4><strong><%=el.name %></strong></h4>
                    </div>
                    <image src="<%=el.image %>" width="100%" height="300px"></image>
                    <p class="mt-2 mb-2">
                        <a href="/cats/<%=el.id %>" class="btn btn-outline-info btn-md">Read about</a>
                    </p>
                </div>
            </div>
            <%})%>
        </div>
    </div>
<% include ../partials/footer%>